<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project title</title>

	<link href="assets/css/app.css" rel="stylesheet">
	<script src="assets/js/app.js"></script>

  </head>
  <body>   
    <header class="header clearfix">
        <div class="wrapper">
        	<div class="logo-icon">logo Admantic</div>
            <div class="logo container clearfix hidden-sm hidden-xs">
				<div class="row">
	            	<section class="left-dev col-lg-4 col-md-4 hidden-sm hidden-xs">
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	            	</section>
	            	<section class="center-dev col-lg-14 col-md-14 hidden-sm hidden-xs">
	            		<div>
	            			<h1>NO.1</h1>
	            			<span class="front-end">FRONT-END</span>
	            			<hr>
	            			<span class="developer">DEVELOPER</span>
	            		</div>
	            	</section>
	            	<section class="right-dev col-lg-4 col-md-4 hidden-sm hidden-xs">
	            		<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	        			<span class="glyphicon glyphicon-star"></span>
	            	</section>
				</div>
            </div>
            <nav class="menu list-inline">
                <ul>
                    <li><a href="we need"></a></li>
                    <li><a href="we propose"></a></li>
                    <li><a href="who we are"></a></li>
                    <li><a href="contact infornation"></a></li>
                </ul>
            </nav>
            <section class="center slider">
                <div>
                  <img src="http://placehold.it/350x300?text=2">
                </div>
                <div>
                  <img src="http://placehold.it/350x300?text=3">
                </div>                      
            </section>                
        </div>
    </header>
  </body>
</html>