<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Project title</title>
<base target="_blank">

<link href="assets/css/app.min.css" rel="stylesheet">