<header class="header clearfix">
    <div class="logo-!icon">logo</div>
        <div class="logo container clearfix hidden-sm hidden-xs">
			<div class="row">
            	<section class="left-dev hidden-sm hidden-xs">
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
            	</section>
            	<section class="center-dev hidden-sm hidden-xs">
            		<div>
            			<h1>NO.1</h1>
            			<span class="front-end">FRONT-END</span>
            			<hr>
            			<span class="developer">DEVELOPER</span>
            		</div>
            	</section>
            	<section class="right-dev hidden-sm hidden-xs">
            		<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
        			<span class="glyphicon glyphicon-star"></span>
            	</section>
			</div>
        </div>
        <nav id="menu" class="menu container hidden-sm hidden-xs">
            <ul class="center-block row">
                <li class=""><a href="#need">we need</a></li>
                <li class=""><a href="#propose">we propose</a></li>
                <li class=""><a href="#about">who we are</a></li>
                <li class="#"><a href="contact information">contact information</a></li>
            </ul>
    	</nav>
</header>