<section id="about" class="about-us">
	<div class="container">
		<div class="about-us_block">
			<h2>About us</h2>
			<p>We coordinate projects with our dedicated development <span><a href="#">team</a></span>. The whole process is <span>smartly</span> arranged to maximize efficiency. As a result, the performance of our team is significantly better than that of local area teams. This is possible because we believe in and adhere to the following principles.</p>
		</div>
		<div class="button-hide">
			<a id="open" href="#" class="open text-uppercase" role="button">Accept an offer</a>
		</div>
		<div class="file-input-container">
			<form class="upload clearfix">
				<div class="upload-container">
					<div class="image-holder hidden-xs">
						<img src="assets/images/avatar.png" alt="image description" class="img-responsive img-circle">
					</div>
					<label class="text-uppercase">
						<span>
							<p>Please Select a File</p>
							<input type="file" style="display: none;" multiple>
						</span>
						<span class="task-form"> Do it as custom input type="file"</span>
					</label>
					<input type="text" class="form-control" readonly>
				</div>
				<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i></button>
			</form>					
		</div>	
	</div>
</section>