<section id="propose" class="we-propose">
		<div class="caption">
			<h1>We propose...</h1>
			<button class="btn btn-default btn-lg btn-icon pull-right" type="submit">working conditions<i class="glyphicon glyphicon-menu-down"></i></button>
		</div>		
		<section class="propositions container-fluid center-block row">		
	        <div class="right-columns col-lg-3 col-md-12 col-sm-12 col-xs-12 row">
	        	<div class="office-chair col-lg-12 col-md-6 col-sm-6 col-xs-12">
	        		<div>
						<div class="image-holder">
	        				<img src="assets/images/photo.png" alt="computer" class="img-responsive center-block">	        				
        				</div>
        				<div class="text-holder">
        					<h1>Office chair</h1>
        					<span class="subscription">Lorem ipsum dolor sit amet</span>
    					</div>
	        		</div>	        		
	        	</div>
	        	<div class="computer col-lg-12 col-md-6 col-sm-6 col-xs-12">
	        		<div>
	        			<div class="image-holder">
	        				<img src="assets/images/photo_2.png" alt="computer" class="img-responsive center-block">        				
        				</div>
        				<div class="text-holder">
        					<h1>Computer</h1>
        					<span class="subscription">Lorem ipsum dolor sit amet</span>
    					</div>	
	        		</div>	        		
	        	</div>
	        </div>
	        <div class="left-columns col-lg-9  col-md-12 col-sm-12 col-xs-12 row">
	        	<div class="office-table col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        		<div>
    					<div class="image-holder">
							<img src="assets/images/photo_5.jpg" alt="computer" class="img-responsive center-block">
        				</div>	        		
		        			<div class="text-holder">
		        				<h1>Office table</h1>
	        					<span class="subscription">Lorem ipsum dolor sit amet</span>
	        				</div>
        			</div>	        		
	        	</div>
	        	<div class="perks col-lg-8 col-md-7 col-sm-7 col-xs-12">
	        		<div>
	        			<div class="image-holder">
	        				<img src="assets/images/photo_3.jpg" alt="computer" class="img-responsive center-block">
        				</div>
        				<div class="text-holder">
	        				<h1>Perks</h1>
        					<span class="subscription">Lorem ipsum dolor sit amet</span>
        				</div>	
	        		</div>	        		
	        	</div>
	        	<div class="modern-office col-lg-4 col-md-5 col-sm-5 col-xs-12">
	        		<div>
	        			<div class="image-holder">
	        				<img src="assets/images/photo_4.png" alt="computer" class="img-responsive center-block">        				
	        			</div>
	        			<div class="text-holder">
	        				<h1>
	        					Modern office<br>
	        					in center of Kharkov
	        				</h1> 
	        				<span class="subscription">Lorem ipsum dolor sit amet</span>       					
        				</div>	
	        		</div>	        		
	        	</div>
	        </div>			
	    </section>
	    <a href="#propose" id="opener" class="opener text-uppercase" role="button" aria-expanded="true" aria-controls="collapse">SHOW ALL PROPOSITIONS</a>	    
	</section>