<section id="need" class="we-need">
	<div class="caption">
		<h1>We need...</h1>
		<div class="blue-rectangle">
		<span>front-end developer who can</span>
		</div>
	</div>
	<section class="center slider">		
        <div class="slide-1">	        	
        	<section class="task-1">		        	
        		<span class="caption-1">Complete this test considering to the list below</span>
        		<ul class="requirements list-unstyled col-lg-9">
        			<li>All images should be placed in sprites</li>
        			<li>Google map in the footer should work properly</li>
        			<li>Working Carousel (there are several slides in <a href="#" class="test">test.psd</a>)</li>
        			<li>Add proper style to every link resolve in <span class="new-window"><span class="window"></span>new window</span></li>
        			<li>Simple forms describe with css instead of &lt;img &gt; where possible</li>
        			<li>Optimized for fast loading in browsers</li>
        		</ul>
        	</section>
    	</div> 	          
        <div class="slide-2 container row">
          <section class="task-2">
          	<div class="screen col-lg-4 col-md-4 col-sm-4 col-xs-4">
          		<span class="text">Describe all elements<br>by native html/css<br>(sass if you want)</span>
      		</div>
          	<div class="bootstrap-3 col-lg-4 col-md-4 col-sm-4 col-xs-4">
          		<span class="text">Do it on bootstrap 3</span>
      		</div>
          	<div class="calendar-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
          		<span class="text">Do work<br>for two days</span>
      		</div>
          </section>
        </div>                      
    </section>
</section>