

//no1
font-family: 'Courier New';
color:  #000000;
font-size: 3rem;
font-weight: 700;
letter-spacing: 3.6rem;
text-align: left;

width: 250px;
height: 29px;

//front-end
width: 245px;
height: 8px;

font-family: 'Courier New';
color: #000000;
font-size: 0.874rem;
font-weight: 700;
letter-spacing: 1.574rem;
line-height: 1.634;
text-align: left;

//developer
width: 240px;
height: 6px;

font-family: 'Courier New';
color: #000000;
font-size: 0.638rem;
font-weight: 700;
letter-spacing: 1.722rem;
line-height: 2.24;
text-align: left;

//menu
width: 593px;
height: 12px;

font-family: Lato;
color:  #ff4622;
font-size: 1rem;
font-weight: 700;
line-height: 1.429;
text-align: center;

/* Встроенный стиль */
font-family: Lato;
color:  #000000;
font-size: 1rem;
font-weight: 700;
line-height: 1.429;
text-align: center;


//logo admanic
width: 164px;
height: 37px;


