@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg') format('svg'),
         url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype');    
}

$lato-font-path: '../fonts';

@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-bold.eot');
  src: local('Lato Bold'),
       local('Lato-Bold'),
       url('#{$lato-font-path}/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$lato-font-path}/lato-bold.woff2') format('woff2'),
       url('#{$lato-font-path}/lato-bold.woff') format('woff'),
       url('#{$lato-font-path}/lato-bold.ttf') format('truetype'),
       url('#{$lato-font-path}/lato-bold.svg#lato') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-light.eot');
  src: local('Lato Light'),
       local('Lato-Light'),
       url('#{$lato-font-path}/lato-light.eot?#iefix') format('embedded-opentype'),
       url('#{$lato-font-path}/lato-light.woff2') format('woff2'),
       url('#{$lato-font-path}/lato-light.woff') format('woff'),
       url('#{$lato-font-path}/lato-light.ttf') format('truetype'),
       url('#{$lato-font-path}/lato-light.svg#lato') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-regular.eot');
  src: local('Lato Regular'),
       local('Lato-Regular'),
       url('#{$lato-font-path}/lato-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$lato-font-path}/lato-regular.woff2') format('woff2'),
       url('#{$lato-font-path}/lato-regular.woff') format('woff'),
       url('#{$lato-font-path}/lato-regular.ttf') format('truetype'),
       url('#{$lato-font-path}/lato-regular.svg#lato') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Courier New';
  src: url('#{$lato-font-path}/cour.ttf');
  src: local('Courier New'),
       local('Courier New'),
       url('#{$lato-font-path}/cour.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Bold';
  src: url('#{$lato-font-path}/courbd.ttf');
  src: local('Courier Bold'),
       local('Courier Bold'),
       url('#{$lato-font-path}/courbd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
