.header { 
    position: relative;   
    .logo-icon {    
        width: 164px;
        height: 37px;
        margin: 27px auto 36px;
        background: url('../images/logo_admanic.png') no-repeat; 
        background-size: 100%;
        overflow: hidden;
        text-indent: -30%;
    }

    .logo {
        border: 1px solid black;      
        width: 29.5%;
        height: 9.2vw;
        padding: 0;

        .row {
            height: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
            }
            
            .right-dev, .left-dev {
                height: 100%;
                overflow: hidden;                
                padding: 0.791vw 0.94vw;
                width: 18.18182%;
                float: left;

                span {
                    font-size: 1.1rem;
                    margin-top: 0.4rem;
                    margin-right: 0.25rem;
                    margin-bottom: 0.6rem;
                    margin-left: 0.25rem;
                }
            }
            .left-dev {
                border-right: 1px solid black;
            }
            .right-dev {
                border-left: 1px solid black;
            }
            .center-dev {
                height: 100%;
                padding: 0;
                text-align: center;
                width: 63.63636%;
                float: left;

                h1 {
                    font-family: 'Courier New';
                    color:  #000000;
                    font-size: 4.2rem;
                    font-weight: 700;
                    letter-spacing: 5.04rem;
                    text-align: center;
                    display: inline-block;
                    margin: 1.3rem auto;
                    width: 85%;
                }
                .front-end {
                    font-family: 'Courier New';
                    color:  #000000;
                    font-size: 1.224rem;
                    font-weight: 700;
                    letter-spacing: 2.2503rem;
                    line-height: 1.634;
                    display: inline-block;
                    text-align: center;
                    margin: 1.4rem auto 0;
                    width: 104%;

                }
                hr {
                    margin: 1rem auto;
                    border-top: 1px solid black;
                }
                .developer {
                    font-family: 'Courier New';
                    color:  #000000;
                    font-size: 0.893rem;
                    font-weight: 700;
                    letter-spacing: 2.411rem;
                    line-height: 2.24;
                    text-align: left;
                    display: inline-block;
                    text-align: center;
                    margin: 0.2rem auto;
                    width: 103%;
                }
            }               
    }

    .menu {
        width: 595px;
        padding: 0;        
        margin-bottom: 2.6rem;

        ul {
            text-align: left;
            margin-top: 3.1rem;
            padding: 0;

            li:first-child {
                margin-left: 0.3rem;
            }
            li {
                display: inline-block;
                width: 22.75%;
                margin-left: 0.83%;
            }
            li:last-child {
                margin-right: -1.4931%;
                float: right;
                letter-spacing: 0.01rem;
            }

            a {
                font-family: Lato;
                color:  #000000;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.429;
                text-align: center;
                text-decoration: none;
            }
            a:hover {
                color:  #ff4622;                
                list-style: none;
                text-decoration: none;
            }
        }
    } 
}

